<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userService" class="com.office.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"/>
	</bean>
	<bean id="menuService" class="com.office.service.impl.MenuServiceImpl">
		<property name="menuMapper" ref="menuMapper"/>
	</bean>
	<bean id="infoService" class="com.office.service.impl.InfoServiceImpl">
		<property name="infoMapper" ref="infoMapper"/>
	</bean>
	<bean id="organService" class="com.office.service.impl.OrganServiceImpl">
		<property name="organMapper" ref="organMapper"/>
	</bean>
	<bean id="customerService" class="com.office.service.impl.CustomerServiceImpl">
		<property name="customerMapper" ref="customerMapper"/>
	</bean>
	<bean id="OfferService" class="com.office.service.impl.OfferServiceImpl">
		<property name="offerMapper" ref="offerMapper"/>
		<property name="offerPriceMapper" ref="offerPriceMapper"/>
	</bean>
</beans>
